
@{
    ViewBag.Title = "Marca";
}

<div class="card" style="border-bottom:none !important">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <h3 class="card-title">
                    <i class="ion ion-clipboard mr-1"></i>
                    Listado Marca
                </h3>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <a class="btn btn-primary my-2 my-sm-0" type="button" data-toggle="modal" data-target="#modalMarca">Nuevo registro</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="divTabla">

        </div>
    </div>
</div>

<div class="modal fade" id="modalMarca" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Guardar Información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmMarca" method="post">

                    <input type="hidden" readonly class="form-control" name="id" placeholder="Id" value="0">
                    <span>Nombre :</span>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                        </div>
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre">
                    </div>
                    <spa class="mt-3">Descripción :</spa>
                    <div class="input-group mb-2 mr-sm-2 mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                        </div>
                        <input type="text" class="form-control" name="descripcion" placeholder="Descripcion">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="GuardarDatos();"><i class="fas fa-plus-circle"></i> Guardar</button>
                <button class="btn btn-info" data-dismiss="modal"><i class="fas fa-arrow-alt-circle-left"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/generic.js"></script>
    <script src="~/Scripts/marca.js"></script>
}


