
@{
    ViewBag.Title = "Guardar";
}
<div class="row">
    <div class="col-md-6">
        <div class="card" style="border-bottom:none !important">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center">
                        <h3 class="card-title">
                            <i class="ion ion-clipboard mr-1"></i>
                            Guardar información
                        </h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="formPostGuardar">
                    <span>Id :</span>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                        </div>
                        <input type="text" readonly class="form-control" name="textFormId" placeholder="Id" value="0">
                    </div>
                    <span>Nombre :</span>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                        </div>
                        <input type="text" class="form-control" name="textFormName" placeholder="Nombre">
                    </div>
                    <spa class="mt-3">Descripción :</spa>
                    <div class="input-group mb-2 mr-sm-2 mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                        </div>
                        <input type="text" class="form-control" name="textFormDescripcion" placeholder="Descripcion">
                    </div>
                    <button class="btn btn-primary" onclick="GuardarDatos();"><i class="fas fa-plus-circle"></i> Guardar</button>
                    <button class="btn btn-info"><i class="fas fa-arrow-alt-circle-left"></i> Regresar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function GuardarDatos() {

    }

</script>


